numpy
pandas
scipy
matplotlib
seaborn
plotly
opencv-python-headless
pillow
scikit-learn
tensorflow
keras
xgboost
lightgbm
beautifulsoup4
lxml
pvl
pyproj
shapely
geopandas
tqdm
joblib
dask
jupyter
notebook
sympy
statsmodels
h5py
jedi
jupyterlab==3.6.5
jupyterlab-lsp
python-lsp-server
jupyterlab-code-formatter
lckr-jupyterlab-variableinspector
ipywidgets
oauthenticator
psycopg2-binary